<body id="homepage" class="gradient">
  <main>
    <h1>Hi! My name is Sun-Li "Sunny" Beatteay.</h1>
    <p class="gradient gradient-text">I am a web developer in the NYC area specializing in <a href="#">Front End Development</a> and <a href="#">Back End Development</a>. Currently, I am enrolled at <a href="https://www.launchschool.com" target="_blank">Launch School</a> where I am mastering the art of programming.</p>
    <p class="gradient gradient-text medium-text">Let's talk.</p>
    <div class="arrow">
      <a class="desktop" href="#">Arrow</a>
      <a class="mobile" href="#">Arrow</a>
    </div>

    <div class="background-slideshow">
      <div name="front-end">
        <figure>
          <img src="/images/main_exhibit_edited.png" alt="iris portfolio main page">
          <img src="/images/main_dotufo_edited.png" alt="iris portfolio main page">
          <img src="/images/main_shake_edited.png" alt="iris portfolio main page">
          <img src="/images/main_zaha_edited.png" alt="iris portfolio main page">
          <img src="/images/main_finger_edited.png" alt="iris portfolio main page">
          <img src="/images/ropetype_edited.png" alt="iris portfolio rope page">
          <img src="/images/gallery_edited.png" alt="iris portfolio gallery page">
        </figure>
      </div>
      <div name="back-end">
        <img src="/images/whackaruby.gif" alt="whackaruby game">
      </div>
    </div>
  </main>

  <footer>
    <!-- <script src="/js/gradient.js"></script> -->
  </footer>
</body>
