<header>
  <div class="icon">
    <a href="#">S</a>
  </div>

  <div class="blog">
    <a href="https://medium.com/@SunnyB" target="_blank">Blog</a>
  </div>
</header>

<div id="homepage">
  <div class="info">
    <!-- <figure><img src="/images/me.jpg" alt="picture of me"></figure> -->
    <h1>Hello! My name is Sun-Li.</h1>
    <p class="gradient-text">I am a <a href="#" class="full-stack">Full Stack Developer</a> in the NYC area. I am currently enrolled at <a href="https://www.launchschool.com" target="_blank">Launch School</a> where I am mastering the art of web development.</p>
    <p class="gradient-text medium-text">Let's talk.</p>
    <div class="arrow">
      <a class="desktop" href="#">Arrow</a>
      <a class="mobile" href="#">Arrow</a>
    </div>
  </div>
  <div class="slideshow">

    <ul class="full-stack">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
  </div>
</div>

<main id="content">
  <figure><img src="/images/me.jpg" alt="picture of me"></figure>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et sem at tellus suscipit maximus. Quisque cursus consequat ex, vel viverra nulla commodo convallis. Integer varius metus at vulputate luctus. Vivamus varius ante quis pretium finibus. Praesent fermentum, est sed tempus commodo, urna ligula auctor quam, vel pulvinar elit ante at arcu. Donec diam nulla, ullamcorper quis nibh id, posuere aliquet mauris. Pellentesque vel aliquet velit. In lacinia, nibh sit amet egestas iaculis, ex nibh ullamcorper ante, a pulvinar quam ligula consequat libero.</p>
  <p>Vestibulum quis varius sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer interdum dignissim lectus, at finibus libero sollicitudin vitae. Nulla facilisi. Vivamus at aliquam magna. Proin non ornare risus. Praesent non massa elementum lorem vehicula faucibus. Vestibulum lorem odio, euismod vitae velit quis, consectetur scelerisque mi. Morbi eu consectetur dui. Fusce fermentum iaculis ante, eget luctus leo tempor vel. Fusce dignissim volutpat mi. Proin ut tempus metus, at finibus mi. Proin ac congue libero, id sollicitudin nunc.</p>
  <p>Ut feugiat et quam vel mollis. Proin sit amet cursus lacus. Pellentesque arcu diam, malesuada ut nisl nec, sodales maximus tellus. Sed laoreet molestie libero non ultricies. Duis justo leo, blandit vel est nec, commodo suscipit leo. Integer a turpis nisl. Sed in purus sagittis, porta lorem eu, sagittis lectus. Aenean dolor lorem, gravida nec maximus ac, suscipit in erat. Pellentesque aliquam lacinia pellentesque. Maecenas nec eros nulla. Suspendisse malesuada mattis est, non porttitor sem pharetra ullamcorper. Proin eget arcu at ligula euismod consequat sed quis ante. Mauris egestas erat eget est molestie, bibendum egestas tellus aliquet. In tempus mi sit amet convallis molestie. Phasellus sed orci vel mi posuere fermentum. Duis nec justo vitae lorem cursus pulvinar nec eu magna.</p>
</main>
