<header>
  <div class="icon arrow">
    <a class="black-arrow upside-down" href="#"></a>
  </div>

  <div class="blog">
    <a href="https://medium.com/@SunnyB" target="_blank">Blog</a>
    <a href="/images/sunli-resume-v4.pdf" target="_blank">Resume</a>
  </div>
</header>

<div class="fixed">
  <div id="homepage">
    <div class="info">
      <h1>Hello! My name is Sun-Li.</h1>
      <p>I am a Full Stack and Distributed Systems Engineer in the NYC area. I am also the co-creator and co-maintainer of <span class="white-back"><a class="hover-effect" href="https://conclave-team.github.io/conclave-site" target="_blank">Conclave</a></span>: an open-source real-time, collaborative text editor.</p>
      <p class="medium-text"><span class="white-back"><a class="medium-text hover-effect white-back" href="https://www.linkedin.com/in/sjbeatteay/" target="_blank">Let's Link.</a></span></p>
      <div class="arrow center move">
        <a class="white-arrow" href="#content">Arrow</a>
      </div>
    </div>
  </div>
</div>

<main id="content">
  <article>
    <section class="about">
      <h2>More About Me</h2>
      <div class="sectional">
        <div class="text">
          <p>I believe in elegant code. Code that speaks to you as a human would. As technology advances, the line between machinery and biology is blurring. I seek to build tech that is read and used by humans; not just compiled on a processor.</p>
          <p>I am currently searching for a new opportunity. If you believe I would be a good fit for your team, please contact me.</p>
          <p class="medium-text">
            Contact Info:
          </p>
          <ul>
            <li><span class="gradient-hover"><a class="medium-text" href="mailto:sjbeatteay@gmail.com" target="_blank">E-Mail</a></span></li>
            <li><span class="gradient-hover"><a class="medium-text" href="https://www.linkedin.com/in/sjbeatteay/" target="_blank">LinkedIn</a></span></li>
            <li><span class="gradient-hover"><a class="medium-text" href="https://www.github.com/sunny-b" target="_blank">GitHub</a></span></li>
            <li><span class="gradient-hover"><a class="medium-text" href="https://medium.com/@SunnyB" target="_blank">Medium</a></span></li>
          </ul>
        </div>
        <div class="image sunny">
          <figure>
            <img src="/images/me.jpg" alt="picture of me">
          </figure>
        </div>
      </div>
    </section>

    <section class="projects">
      <h2>Recent Projects</h2>

      <div class="project">
        <h3>Conclave</h3>

        <div class="sectional">
          <div class="text">
            <p>
              Conclave is an real-time, peer-to-peer, collaborative text editor.
              It utilizes conflict-free replicated data types (CRDTs) to merge conflicting operations and WebRTC to achieve a distributed architecture.
            </p>
            <p>
              Conclave is implemented entirely from scratch using Vanilla JavaScript and no frameworks.
            </p>
            <p>
              Read more about the project: <span class="gradient-hover"><a target="_blank" class="medium-text" href="https://conclave-team.github.io/conclave-site">Case Study</a></span>
            </p>
            <p>
              Try out the application: <span class="gradient-hover"><a target="_blank" class="medium-text" href="https://conclave-app.herokuapp.com">Conclave</a></span>
            </p>
            <p>
              Enjoy using the editor and want to embed it into your own project? Checkout <span class="gradient-hover"><a target="_blank" class="medium-text" href="https://www.github.com/sunny-b/conclavity">Conclavity</a></span>.
            </p>
          </div></span>

          <div class="image max">
            <figure>
              <img src="/images/conclave-v2.gif" alt="conclave editor">
            </figure>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>Opening Act</h3>

        <div class="sectional">
          <div class="text">
            <p>
              Opening Act is a ruby gem that creates a scaffold for Sinatra projects with a single shell command. It has garnered more than 3000 downloads and was featured in <span class="gradient-hover"><a target="_blank" class="medium-text" href="https://rubyweekly.com/issues/345">RubyWeekly</a></span>.
            </p>
            <p>
              <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://github.com/sunny-b/opening_act">GitHub Repo</a></span>
            </p>
          </div>

          <div class="image max">
            <figure>
              <img src="/images/opening_act.gif" alt="opening act command">
            </figure>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>Mello</h3>

        <div class="sectional">
          <div class="text">
            <p>
              Mello is a productivity application that allows users to add, remove, search, label, and reorganize lists and cards. It was built using an Express server and API, Backbone.js, Handlebars and Jade.
            </p>
            <p>
              Application: <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://trello-clone-sjb.herokuapp.com">Mello</a></span>
            </p>
            <p>
              <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://github.com/sunny-b/mello">GitHub Repo</a></span>
            </p>
          </div>

          <div class="image max">
            <figure>
              <img src="/images/reaction.gif" alt="reaction">
            </figure>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>Postit!</h3>

        <div class="sectional">
          <div class="text">
            <p>
              Postit! is a Reddit-like application that allows users to create posts and comment on those posts. Users can also sort by category and vote on posts/comments.
            </p>
            <p>
              Postit is built using Rails and JavaScript.
            </p>
            <p>
              Application: <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://postit-sjb.herokuapp.com/">Postit!</a></span>
            </p>
            <p>
              <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://github.com/sunny-b/postit">GitHub Repo</a></span>
            </p>
          </div>

          <div class="image max">
            <figure>
              <img src="/images/postit.png" alt="postit">
            </figure>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>Iris Sprague Portfolio Site</h3>

        <div class="sectional">
          <div class="text">
            <p>
              This is an extensive and responsive portfolio site for a NYC designer. This site helped her land a six-figure salary job.
            </p>
            <p>
              This site uses HTML5, CSS, JavaScript and jQuery.
            </p>
            <p>
              <span class="gradient-hover"><a class="medium-text" target="_blank" href="http://www.irissprague.co">Portfolio Site</a></span>
            </p>
            <p>
              <span class="gradient-hover"><a class="medium-text" target="_blank" href="https://www.github.com/sunny-b/irisWebsite">GitHub Repo</a></span>
            </p>
          </div>

          <div class="image max">
            <figure>
              <img src="/images/iris.gif" alt="iris portfolio site">
            </figure>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
