<header>
  <div class="icon arrow">
    <a class="black-arrow upside-down" href="#"></a>
  </div>

  <div class="blog">
    <a href="https://medium.com/@SunnyB" target="_blank">Blog</a>
  </div>
</header>

<div class="fixed">
  <div id="homepage">
    <div class="info">
      <h1>Hello! My name is Sun-Li.</h1>
      <p class="">I am a <span><a href="#" class="full-stack wait-cursor hover-effect override">Full Stack Developer</a></span> in the NYC area. I am currently enrolled at <span><a class="hover-effect" href="https://www.launchschool.com" target="_blank">Launch School</a></span> where I am mastering the art of web development.</p>
      <p class="medium-text">Let's talk.</p>
      <div class="arrow">
        <a class="white-arrow" href="#content">Arrow</a>
      </div>
    </div>
    <div class="slideshow">

      <ul class="full-stack">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </div>
  </div>
</div>

<main id="content">
  <section class="clearfix">
    <aside>
      <figure>
        <img src="/images/me.jpg" alt="picture of me">
      </figure>
      <figure class="desktop">
        <img src="/images/mobile_edited.png" alt="picture of iris website">
      </figure>
    </aside>

    <article>
      <h2>More About Me</h2>
      <p>I believe in elegant code -- code that speaks to you as a human would. As technology advances, the line between machinery and biology is blurring. I seek to build tech that is read and used by humans; not just compiled on a processor.</p>
      <p>I am infinitely curious about web development. As a student at <a class="medium-text" href="https://www.launchschool.com" target="_blank">Launch School</a>, I have honed my skills as a studious problem solver. While I program in Ruby and JavaScript, my strengths do not depend on the languages I use but in the craft itself. If you're looking for a Ruby on Rails or React Developer -- a cog in a wheel -- I cannot help you.</p>
      <p>However, if you're searching for a solution -- someone to work with your team of designers and developers to tackle the unknown, build your platform and grow your business -- then I'm your guy.</p>
      <p>When I'm not programming, I am most likely reading or writing about it while holding a cup of tea, a stiff Old Fashioned, or a black cat named Vanta.</p>

      <h3>Portfolio</h3>
      <ul>
        <li><a class="medium-text indicator" href="http://irissprague.co/" target="_blank">Iris Sprague</a></li>
        <li><a class="medium-text" href="https://github.com/sunny-b/RubyTutor" target="_blank">RubyTutor</a></li>
        <li><a class="medium-text" href="/images/sun-li-resume-web2.pdf" target="_blank">Resume</a></li>
        <li>The Rest On: <a class="medium-text" href="https://github.com/sunny-b" target="_blank">GitHub</a></li>
      </ul>

      <h3>Social</h3>
      <ul>
        <li><a class="medium-text" href="https://www.linkedin.com/in/sun-li-beatteay-49638587/" target="_blank">LinkedIn</a></li>
        <li><a class="medium-text" href="mailto:sjbeatteay@gmail.com" target="_blank">E-Mail</a></li>
      </ul>
    </article>
  </section>
</main>
