<main id="homepage" class="gradient">
  <div class="info">
    <h1>Hi! My name is Sun-Li "Sunny" Beatteay.</h1>
    <p class="gradient gradient-text">I am a web developer in the NYC area specializing in <a id="front-end" href="#">Front End Development</a> and <a id="back-end" href="#">Back End Development</a>. Currently, I am enrolled at <a href="https://www.launchschool.com" target="_blank">Launch School</a> where I am mastering the art of programming.</p>
    <p class="gradient gradient-text medium-text">Let's talk.</p>
    <div class="arrow">
      <a class="desktop" href="#">Arrow</a>
      <a class="mobile" href="#">Arrow</a>
    </div>
  </div>
  <div class="slideshow">
    <ul id="front-end">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>

    <ul id="back-end">
      <li><span></span></li>
    </ul>
  </div>
</main>
