<main id="homepage">
  <div class="info">
    <h1>Hello! My name is Sun-Li.</h1>
    <p class="gradient gradient-text">I am a <a href="#" class="full-stack">Full Stack Developer</a> in the NYC area. I am currently enrolled at <a href="https://www.launchschool.com" target="_blank">Launch School</a> where I am mastering the art of web development.</p>
    <p class="gradient gradient-text medium-text">Let's talk.</p>
    <div class="arrow">
      <a class="desktop" href="#">Arrow</a>
      <a class="mobile" href="#">Arrow</a>
    </div>
  </div>
  <div class="slideshow">
    <ul class="front-end">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>

    <ul class="back-end">
      <li><span></span></li>
    </ul>
  </div>
</main>
