<header class="gradient">
  <div class="icon arrow">
    <a class="mobile upside-down" href="#top">
      <img src="/images/foggy-full-moon-night.svg" alt="sun icon">
    </a>
  </div>

  <div class="blog">
    <a href="https://medium.com/@SunnyB" target="_blank">Blog</a>
  </div>
</header>

<div class="fixed gradient">
  <div id="homepage">
    <div class="info">
      <h1>Hello! My name is Sun-Li.</h1>
      <p class="gradient-text">I am a <a href="#" class="full-stack">Full Stack Developer</a> in the NYC area. I am currently enrolled at <a href="https://www.launchschool.com" target="_blank">Launch School</a> where I am mastering the art of web development.</p>
      <p class="gradient-text medium-text">Let's talk.</p>
      <div class="arrow">
        <a class="desktop" href="#">Arrow</a>
        <a class="mobile" href="#content">Arrow</a>
      </div>
    </div>
    <div class="slideshow">

      <ul class="full-stack">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </div>
  </div>
</div>

<main id="content">
  <article>
    <figure><img src="/images/me.jpg" alt="picture of me"></figure>
    <h2>More About Me</h2>
    <p>I believe in elegant code -- code that speaks to you as a human would. As technology advances, the line between machinery and biology is blurring. I seek to build tech that is read and used by humans; not just compiled on a processor.</p>
    <p>I am also an avid learner. When I'm not programming, I am most likely reading or writing about it while holding a cup of tea, a stiff Old Fashioned, or a black cat named Vanta.</p>

    <h3>Portfolio</h3>
    <ul>
      <li><a class="medium-text" href="#" target="_blank">Iris Sprague</a></li>
      <li><a class="medium-text" href="#" target="_blank">RubyTutor</a></li>
      <li>The Rest On: <a class="medium-text" href="#" target="_blank">GitHub</a></li>
    </ul>

    <h3>Social</h3>
    <ul>
      <li><a class="medium-text" href="#" target="_blank">LinkedIn</a></li>
      <li><a class="medium-text" href="mailto:sjbeatteay@gmail.com" target="_blank">E-Mail</a></li>
    </ul>
  </article>
</main>
