<!doctype html>
<html>
  <head>
    <title>Sunny | Developer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <%= yield %>

</html>
