@import "font.css";
@import "reset.css";

/*******************
  General
******************/

body {
  font: normal 16px/160% "Input Sans Narrow Light", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  z-index: -3;
  position: relative;
  color: #fff;
  height: 100vh;
}

.fixed {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

/*******************
  Header
******************/

header {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 100;
}

header .icon {
  width: 30px;
  height: 30px;
  float: left;
}

header .icon a {
  display: block;
  width: 100%;
  height: 100%;
  /*background: url('/images/foggy-full-moon-night.svg') 0 0 no-repeat;*/
  /*background-size: cover;*/
}

header .icon img {
  width: 100%;
}

header .blog {
  float: right;
}

header .blog a {
  color: #fff;
}


/*******************
  Landing Page
******************/


#homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
}

#homepage .info {
  padding: 20px;
  position: relative;
  z-index: 20;
}

#homepage .info h1 {
  font-size: 25px;
  line-height: 150%;
  font-weight: 100;
  padding-bottom: 30px;
}

#homepage .info p + p {
  padding-top: 10%;
}

.gradient-text a {
 padding: 0 5px;
 color: #fff;
 border-bottom: 1px solid #ccc;
 text-decoration: none;
 -webkit-background-clip: text !important;
}

.gradient-text a:hover {
  -webkit-background-clip: border-box !important;
}

.medium-text {
  font-family: "Input Sans Narrow Medium", Helvetica, sans-serif;
}


.desktop {
  display: none;
}


/*******************
  Arrow
******************/

.arrow {
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  margin-top: 40px;
}

.arrow .desktop, .arrow .mobile {
  width: 100%;
  height: 100%;
  border: none;
}

.arrow .mobile {
  display: block;
  background: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow .desktop {
  background: url("../images/arrow_down.png") -11px -8px;
  background-repeat: no-repeat;
  display: none;
  background-size: 65px;
}

/*******************
  SlideShow
******************/

.slideshow {
  display: none;
}

/*******************
  Main Content
******************/

#content {
  position: relative;
  top: 100vh;
  background-color: #fff;
  width: 100vw;
  box-sizing: border-box;
  padding: 30px;
  color: #000;
  z-index: 30;
}

#content figure {
  width: 50%;
  text-align: left;
  max-width: 300px;
}

#content img {
  width: 100%;
}

#content h2 {
  font-size: 25px;
  text-decoration: underline;
  padding-bottom: 20px;
}

#content p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

#content a,
#content li {
  color: #000;
  font-size: 16px;
}

#content li:before {
  content: '>';
  color: #000;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px;
  vertical-align: 1px;
}

#content ul {
  padding-bottom: 20px;
}

#content .footer,
#content .footer a {
  font-size: 10px;
}


/*******************
  Footer
******************/

footer {
  font-size: 10px;
}


@media (min-width: 375px) {
  body {
    font-size: 20px;
  }

  #homepage .info h1 {
    font-size: 36px;
  }
}

@media (min-width: 671px) {
  /*******************
    Main
  ******************/

  header {
    padding-left: 115px;
    padding-right: 115px;
  }

  #homepage .info {
    width: 49vw;
    max-width: 720px;
    height: 83vh;
    margin: 0 0 0 115px;
    padding: 50px 0 0;
  }

  #homepage .info h1 {
    padding-bottom: 10%;
  }

  #homepage .info figure {
    display: none;
  }

  /*******************
    Arrow
  ******************/

  .arrow {
    width: 45px;
    height: 45px;
    margin: 0;
    position: absolute;
    left: 64px;
    bottom: -14px;
  }

  .arrow .mobile {
    display: none;
  }

  .arrow .desktop {
    display: block;
  }

  /*******************
    SlideShow
  ******************/

  .slideshow {
    display: block;
  }
}
