@import "font.css";
@import "reset.css";

/*******************
  General
******************/
body {
  font: normal 20px/160% "Input Sans Narrow Light", Helvetica, sans-serif;
  background: #000;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


/*******************
  Main
******************/

main {
  width: 100%;
  max-width: 60vw;
  height: 83vh;
  margin-left: 65px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 98px 63px 0;
  position: relative;
}

main h1 {
  font-size: 36px;
  line-height: 150%;
  font-weight: 100;
  padding-bottom: 40px;
}

main p {
  color: #000;
}

.gradient-text a {
 border-bottom: 1px solid #ccc;
 text-decoration: none;
 -webkit-background-clip: text !important;
}

.gradient-text a:hover {
  -webkit-background-clip: border-box !important;
}

main .medium-text {
  font-family: "Input Sans Narrow Medium", Helvetica, sans-serif;
  padding-top: 65px;
}


/*******************
  Arrow
******************/

.arrow {
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  position: absolute;
  left: 64px;
  bottom: -14px;
  background: transparent;
}

.arrow a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/arrow_down.png") -11px -8px;
  border: none;
  background-size: 65px;
}
