@font-face {
  font-family: "Input Sans Narrow Light";
  src: url("https://personal-site-assets.sfo2.cdn.digitaloceanspaces.com/public/fonts/InputSansNarrow-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Input Sans Narrow Medium";
  src: url("https://personal-site-assets.sfo2.cdn.digitaloceanspaces.com/public/fonts/InputSansNarrow-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Input Sans Narrow Bold";
  src: url("https://personal-site-assets.sfo2.cdn.digitaloceanspaces.com/public/fonts//InputSansNarrow-Bold.ttf") format('truetype');
}
