<!doctype html>
<html>
  <head>
    <title>Sun-Li | Developer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel='shortcut icon' href='https://personal-site-assets.sfo2.cdn.digitaloceanspaces.com/public/images/favicon.ico' type='image/x-icon'>
  </head>
  <body class="gradient">

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/arrow.js"></script>
    <script src="/js/gradient.js"></script>
  </body>
</html>
